DITA/rules/rules.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
        Do not edit this file directly!
        This file is generated automatically by processing 
        info-model.ditamap
        If you want to change the rules, edit the corresponding sections 
        marked with audience="rules" in the corresponding topic files.
      -->
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <include href="library.sch#avoidWordInElement"/>
   <include href="library.sch#avoidEndFragment"/>
   <include href="library.sch#avoidAttributeInElement"/>
   <include href="library.sch#recommendElementInParent"/>
   <include href="library.sch#restrictWords"/>
   <!--Generated from topics/indexEntries.dita-->
   <pattern is-a="avoidWordInElement">
      <param name="word" value="oXygen"/>
      <param name="element" value="indexterm"/>
      <param name="message" value="We should avoid using oXygen inside index terms!"/>
   </pattern>
   <!--Generated from topics/images.dita-->
   <pattern is-a="avoidAttributeInElement">
      <param name="element" value="image"/>
      <param name="attribute" value="scale"/>
      <param name="message"
             value="Dynamically scaled images are not properly displayed, you&#xA;            should scale the image with an image tool and keep it within&#xA;            the recommended with and height limits."/>
   </pattern>
   <!--Generated from topics/lists.dita-->
   <pattern is-a="avoidEndFragment">
      <param name="fragment" value=";"/>
      <param name="element" value="li"/>
      <param name="message"
             value="List items should not end with a semi-column (;). If it is&#xA;            a sentence then end it with a full stop (.), otherwise leave&#xA;            it without an ending character."/>
   </pattern>
</schema>
